*.php linguist-detectable=true
*.blade.php linguist-language=PHP
*.blade linguist-detectable=false

* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
